// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.well img {
  width: 85%;
}

img {
  width: 300px;
}

.page-header {
  text-align: center;
}

a {
  color: #2A423D;
}